<div class="jumbotron">
    <h1 class="display-4">All characters of UCM</h1>
    <p class="lead">Find your favorite hero or villant</p>
    <hr class="my-4">
    <p>Content</p>
</div>

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item ml-2 mr-2">                           
                <span>Page size</span>
            </li>
            
            <li class="nav-item ">                              
                <select class="col-6" name="page-size" class="custom-select" id="inputGroupSelect01">
                    <option value="20">20</option>
                    <option value="15">15</option>
                    <option value="10">10</option>
                    <option value="5">5</option>
                </select>    
            </li>
            
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<app-search-results 
    *ngIf="listHero.length > 0"
    [typeOfSearch]="'characters'"
    [listItems]="listHero"
    [limit]="limitItems"
    [offset]="actualOffset"
    (paginate)="nextPage($event)"
    (goIndex)="setOffset($event)">
</app-search-results>
