<div class="news d-flex flex-column">

    <div class="news_bg-img">
        <img src="" alt="">
    </div>
    <div class=" news_title mt-4 ml-4">
        <h1 class="col-4">Proyect Hero</h1>
        <p class="col-8">Wellcome to Proyect Hero, here you can see and consult any data of your favorite super heroes of Marvel Universe and the weekend news too!
        </p>
    </div>
    <div class="news_cards d-flex col-12 mt-5">
        <p class="col-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil amet voluptate neque ipsam ea atque quaerat ex nulla aliquam consequatur. A tenetur explicabo harum facere eligendi repellendus ipsam quod distinctio.
        </p>
        <p class="col-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil amet voluptate neque ipsam ea atque quaerat ex nulla aliquam consequatur. A tenetur explicabo harum facere eligendi repellendus ipsam quo distinctio.
        </p>
        <p class="col-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil amet voluptate neque ipsam ea atque quaerat ex nulla aliquam consequatur. A tenetur explicabo harum facere eligendi repellendus ipsam quod distinctio.
        </p>

    </div>
</div>