<app-slider></app-slider>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="news__title">
                <h3>Hero Project it's a Marvel Database</h3>
            </div>
        </div>

    </div>
    <div class="row news__cards--container">

        <div class="col-xl-3 col-md-3">
            <div class="news__cards--container__card text-center">
                <div class="news__cards--container__card--icon">
                    <img src="assets/img/hombre-de-acero.svg" alt="">
                </div>
                <h4>Characters</h4>
                <p>Explore all the characters of the Marvel Universe.</p>
            </div>
        </div>
        <div class="col-xl-3 col-md-3">
            <div class="news__cards--container__card text-center">
                <div class="news__cards--container__card--icon">
                    <img src="assets/img/comic.svg" alt="">
                </div>
                <h4>Comics</h4>
                <p>See all the information of the Marvel Comics.</p>
            </div>
        </div>
        <div class="col-xl-3 col-md-3">
            <div class="news__cards--container__card text-center">
                <div class="news__cards--container__card--icon">
                    <img src="assets/img/creador.svg" alt="">
                </div>
                <h4>Creators</h4>
                <p>Meet the creative minds of Marvel Universe.</p>
            </div>
        </div>
        <div class="col-xl-3 col-md-3">
            <div class="news__cards--container__card text-center">
                <div class="news__cards--container__card--icon">
                    <img src="assets/img/maravilla.svg" alt="">
                </div>
                <h4>Series</h4>
                <p>Discover the series of the Marvel universe.</p>
            </div>
        </div>


    </div>



    <div class="news__featured">
        <div class="row justify-content-center align-items-center">
            <div class="col-6">
                <h3>Featured by Marvel API REST</h3>

                <p>
                    The Marvel Comics API allows us to access information about Marvel's vast library.
                </p>
            </div>
            <div class="col-6">
                <img src="assets/img/vision_png___render_by_joaohbd_d8kne0r.png " alt="" class="img-fluid" />
            </div>
        </div>
    </div>
</div>
<div class="news__about">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-5 offset-lg-1">
                <div class="news__about--info">
                    <div class="news__about--title white_text">
                        <span>About Us</span>
                        <h4>Project Hero</h4>
                        <p>GeekZone</p>
                        <p>We are a group of developers passionate about comics and the universe of Marvel</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>