.news {
    &__bgImg {
        width: auto;
        margin: 0;
        height: 100vh;
        position: relative;
        &--top {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url(src\assets\img\joseph-chan-zC7vO76hEqM-unsplash.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
        &--bot {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url(src\assets\img\joseph-chan-zC7vO76hEqM-unsplash.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
    }
    &_title {
        height: 100vh;
        border: 4px var(--var-color-primary) solid;
        background-color: var(--var-color-secondary);
        height: 70vh;
        width: auto;
        padding: 1.5rem;
        h2 {
            text-align: left;
            color: var(--var-color-ligth) !important;
        }
        p {
            text-align: justify;
            width: 50%;
        }
        img {
            margin: 0 auto;
        }
    }
    &_cards {
        background-image: url(src\assets\img\hermes-rivera-HMOdnlWzFAM-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        height: 65vh;
        width: auto;
        &::before {
            content: "";
            position: absolute;
            background-color: rgb(50, 50, 50);
            background-color: linear-gradient(90deg, rgba(50, 50, 50, 1) 1%, rgba(50, 50, 50, 0.19229690167082458) 95%);
        }
    }
    h1 {
        color: var(--var-color-secondary);
        font-weight: 700;
        font-size: 48px;
        text-shadow: -2px 0 var(--var-color-primary), 0 2px var(--var-color-primary), 2px 0 var(--var-color-primary), 0 -2px var(--var-color-primary);
    }
    h2 {
        color: var(--var-color-secondary);
        font-weight: 700;
        font-size: 36px;
        text-shadow: -2px 0 var(--var-color-primary), 0 2px var(--var-color-primary), 2px 0 var(--var-color-primary), 0 -2px var(--var-color-primary);
    }
    p {
        color: var(--var-color-ligth);
        font-size: 24px;
        font-weight: 400;
    }
}