.news {
    &__bgImg {
        width: auto;
        margin: 0;
        height: 100vh;
        position: relative;
        &--top {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url("src/assets/img/hermes-rivera-HMOdnlWzFAM-unsplash.jpg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
        &--bot {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url("src/assets/img/joseph-chan-zC7vO76hEqM-unsplash.jpg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
    }
    &_title {
        position: relative;
        height: 100vh;
        border: 4px var(--var-color-primary) solid;
        height: 70vh;
        width: auto;
        padding: 1.5rem;
        h2 {
            text-align: left;
            color: var(--var-color-ligth) !important;
            z-index: 10;
        }
        p {
            text-align: justify;
            width: 50%;
            z-index: 10;
        }
        img {
            width: 70%;
        }
        &::after {
            content: "";
            background: linear-gradient(320deg, rgba(231, 51, 52, .5) 0%, rgba(231, 51, 52, .5) 65%, rgba(255, 255, 255, 0.0) 65%);
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }
    &_cards {
        background-image: url("src/assets/img/jack-o-rourke-orQhl6Is5Uw-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        height: 65vh;
        width: auto;
        top: 0;
        left: 0;
    }
    h1 {
        color: var(--var-color-secondary);
        font-weight: 700;
        font-size: 48px;
        text-shadow: -2px 0 var(--var-color-primary), 0 2px var(--var-color-primary), 2px 0 var(--var-color-primary), 0 -2px var(--var-color-primary);
    }
    h2 {
        color: var(--var-color-secondary);
        font-weight: 700;
        font-size: 36px;
        text-shadow: -2px 0 var(--var-color-primary), 0 2px var(--var-color-primary), 2px 0 var(--var-color-primary), 0 -2px var(--var-color-primary);
    }
    p {
        color: var(--var-color-ligth);
        font-size: 24px;
        font-weight: 400;
    }
}