.news {
    &__title {
        text-align: center;
        h3 {
            font-size: 40px;
            line-height: 52px;
            font-weight: 400;
            color: var(--var-color-primary);
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
    }
    &__cards--container {
        padding-bottom: 6rem;
        &__card {
            padding: 20px 35px 20px 35px;
            border: 2px solid #E8E8E8;
            transition: ease 0.5s;
            margin-bottom: 30px;
            border-radius: 5px;
            opacity: 0.5;
            &--icon {
                img {
                    height: 70px;
                }
            }
            &:hover {
                border: 2px solid var(--var-color-primary);
                opacity: 1;
            }
        }
    }
    &__featured {
        color: var(--var-color-primary);
        padding-bottom: 6rem;
        h3 {
            font-size: 36px;
            margin-bottom: 2rem;
        }
        p {
            font-size: 20px;
            font-weight: 400;
            width: 70%;
        }
    }
    &__about {
        background: var(--var-color-primary);
        position: relative;
        &::before {
            content: '';
            background-image: url("src/assets/img/hermes-rivera-HMOdnlWzFAM-unsplash.jpg");
            left: 0;
            top: 0;
            height: 100%;
            width: 50%;
            z-index: 9;
            background-size: cover;
            position: absolute;
            background-position: center center;
        }
        &--info {
            padding: 160px 0;
            color: var(--var-color-ligth);
            span {
                position: relative;
                font-size: 14px;
                font-weight: 500;
                text-transform: capitalize;
                margin-bottom: 19px;
            }
            h4 {
                font-size: 35px;
                margin-bottom: 15px;
            }
            p {
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 14px;
                color: #C9C9C9;
                width: 80%;
            }
        }
    }
}