<app-slider></app-slider>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="news__title">
                <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis unde, dolores quas nisi consectetur itaque placeat ducimus delectus perspiciatis molestias eius modi harum reprehenderit dolore est.</h3>
            </div>
        </div>

    </div>
    <div class="row">

        <div class="col-xl-3 col-md-3">
            <div class="news__cards text-center">
                <div class="news__cards--icon">
                    <img src="assets/img/hombre-de-acero.svg" alt="">
                </div>
                <h4>Characters</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor.</p>
            </div>
        </div>
        <div class="col-xl-3 col-md-3">
            <div class="news__cards text-center">
                <div class="news__cards--icon">
                    <img src="assets/img/comic.svg" alt="">
                </div>
                <h4>Comics</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor.</p>
            </div>
        </div>
        <div class="col-xl-3 col-md-3">
            <div class="news__cards text-center">
                <div class="news__cards--icon">
                    <img src="assets/img/creador.svg" alt="">
                </div>
                <h4>Creators</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor.</p>
            </div>
        </div>
        <div class="col-xl-3 col-md-3">
            <div class="news__cards text-center">
                <div class="news__cards--icon">
                    <img src="assets/img/maravilla.svg" alt="">
                </div>
                <h4>Series</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor.</p>
            </div>
        </div>


    </div>



    <div class="news_title">
        <div class="row justify-content-center align-items-center">
            <div class="col-6">
                <h2>Featured by Marvel API REST</h2>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil amet voluptate neque ipsam ea atque quaerat ex nulla aliquam consequatur. A tenetur explicabo harum facere eligendi repellendus ipsam quod distinctio.
                </p>
            </div>
            <div class="col-6">
                <img src="assets/img/vision_png___render_by_joaohbd_d8kne0r.png " alt="" class="img-fluid" />
            </div>
        </div>
    </div>
</div>
<div class="news__about">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-5 offset-lg-1">
                <div class="news__about--info">
                    <div class="news__about--title white_text">
                        <span>About Us</span>
                        <h4>Geek Zone</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        <p>Autem ipsam optio porro sapiente maiores dignissimos voluptate veniam ut consequatur ab ex, doloribus libero itaque a omnis, fugit laborum beatae. Eligendi!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>