/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap.scss";
:root {
    --var-color-primary: #323232;
    --var-color-secondary: #e73334;
    --var-color-thirdy: #000;
    --var-color-ligth: #fff;
}